@font-face {
	font-family: 'RFDewiExpanded';
	src: url('../fonts/RFDewiExpanded-Bold.ttf');
}

body,html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: rgb(255, 255, 255);
}
input:focus {
    outline: none;
}

a{
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width:960px){
    header ul {
        display: none;
    }
}
@media screen and (min-width:960px){

}
    
header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
header ul {
    font-size: 0px;
    float: right;
}

.header_logo {
    height: 24px;
    margin: 28px 72px;
    cursor: pointer;
}
.header_title {
    font-size: 14px;
    line-height: 80px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin: 0px;
}
.header_li {
    display: inline-block;
    font-family: 'RFDewiExpanded', sans-serif;
    list-style: none;
    cursor: pointer;
    margin: 0px 35px;
}
.header_button {
    width: 124px;
    height: 32px;
    text-align: center;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 24px 35px 24px 0px;
}
.header_button p {
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    font-family: "Noto Sans JP", sans-serif;
    margin: 0px;
}

.top_view {
    width: 100vw;
    height: auto;
    text-align: center;
    position: relative;
    margin: 150px 0px 0px;
}

.top_image {
    width: 100%;
    margin: 0;
}
.top_title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: calc(2.5rem + ((1vw - 4.8px) * 0.5556));
    line-height: 70px;
    text-align: center;
    width: 100vw;
    margin: 20px 0px 0px;

}

.second_view {
    width: 100vw;
    height: 58vw;
    text-align: center;
    position: relative;
    margin: 250px 0px 0px;
}
.center_div {
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.second_view_text {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: calc(1.4375rem + ((1vw - 4.8px) * 0.9028));
    line-height: 54px;
    letter-spacing: 1px;
    margin: 0px;
}
.mail_input_div {
    width: 476px;
    height: 54px;
    max-width: 80vw;
    position: relative;
    margin: 74px auto 170px;
    background: rgb(250, 250, 250);
    border-radius: 5px;
}
.mail_input_div:hover{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}
.mail_input {
    width: 476px;
    height: 54px;
    max-width: 100%;
    padding-left: 1em;
    text-align: left;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 54px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: rgb(250, 250, 250);
    border-radius: 5px;
}


.mail_input_div .submit_button {
    width: 144px;
    height: 54px;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 54px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 0px 5px 5px 0px;
}
.second_view video {
    position: absolute;
    height: 58vw;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.7;
}

.scroll_text_view {
    width: 100%;
    overflow: hidden;
    margin-bottom: 180px;
}
.scroll_view {
    width: 100%;
    font-size: calc(4.375rem + ((1vw - 4.8px) * 9.0278));
    font-family: 'RFDewiExpanded', sans-serif;
    white-space: nowrap;
    animation-name: scroll_text;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroll_view1 {
    width: 100%;
    font-size: calc(4.375rem + ((1vw - 4.8px) * 9.0278));
    font-family: 'RFDewiExpanded', sans-serif;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    animation-name: scroll_text1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
@keyframes scroll_text {
    from    { transform: translate(0%); } 
    100%,to { transform: translate(-70%); }
}
@keyframes scroll_text1 {
    from    { transform: translate(0%); } 
    100%,to { transform: translate(-124%); }
}
.third_view {
    width: 100vw;
    height: auto;
    margin: 0;
    /* text-align: center; */
    position: relative;
}


@media screen and (max-width:1100px){
    .third_view_image0 {
        width: 100vw;
    }
    .third_view .text_div {
        width: 80vw;
        margin: 200px auto;
        text-align: left;
        vertical-align: top;
    }
    img.device_image {
        position: absolute;
        width: 700px;
        max-width: 100vw;
        top: 100vw;
        left: 50vw;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
}
@media screen and (min-width:1100px){
    .third_view_image0 {
        width: 50vw;
        max-width: 100vw;
        display: inline-block;
        object-fit: contain;
    }
    .third_view .text_div {
        width: 30vw;
        min-width: 400px;
        margin: 11.4vw calc(3.125rem + ((1vw - 4.8px) * 3.4722));
        display: inline-block;
        text-align: left;
        vertical-align: top;
    }
    .device_image {
        position: absolute;
        width: 50vw;
        top: 50vw;
        left: 50vw;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
}
.third_text_0 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: calc(1.4375rem + ((1vw - 4.8px) * 0.9028));
    line-height: 52px;
}
.third_text_1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: calc(1.25rem + ((1vw - 4.8px) * 0.2778));
    line-height: 35px;
}
.fourth_view {
    width: 100vw;
    margin: 300px 0px 0px;
    background: rgb(250, 250, 250);
    padding: 80px 0px;
}
@media screen and (max-width:1100px){
    .fourth_view {
        height: auto;
        text-align: center;
    }
    .fourth_view .text_div {
        vertical-align: top;
        max-width: 80vw;
        margin: 10vw auto 50px;
        text-align: left;
    }
    
    .fourth_image {
        width: 60vw;
        max-height: 80vh;
        object-fit: contain;
    }
}
@media screen and (min-width:1100px){
    .fourth_view {
        height: 45vw;
    }
    .fourth_view .text_div {
        vertical-align: top;
        margin: 10vw 11.4vw 0px;
    }
    
    .fourth_image {
        float: right;
        width: 30vw;
        margin-right: 50px;
    }
}

.fourth_text_0 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: calc(1.4375rem + ((1vw - 4.8px) * 0.9028));
    line-height: 52px;
}
.fourth_text_1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: calc(1.25rem + ((1vw - 4.8px) * 0.2778));
    line-height: 35px;
}

.image_scroll_div {
    width: 100vw;
    height: auto;
    text-align: center;
    margin: 0;
}
@media screen and (max-width:1100px){
    .image_scroll_div img {
        width: 500px;
        max-width: 75vw;
        margin: 100px 5vw;
    }
}
@media screen and (min-width:1100px){
    .image_scroll_div img {
        width: 20vw;
        display: inline-block;
        margin: 100px 5vw;
    }
}
.how_works_div {
    width: 100vw;
    height: auto;
    text-align: center;
    margin: 150px 0px 0px;
}
.how_works_title {
    font-family: 'RFDewiExpanded', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 140px;
}
.how_works_div .section {
    width: 250px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 70px 40px;
}
.how_works_div .section img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.how_works_div .section .num {
    font-family: 'RFDewiExpanded', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin: 16px 0px 6px;
}
.how_works_div .section .section_title {
    font-family: 'RFDewiExpanded', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    margin: 0px;
}
.how_works_div .section .section_content {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin-top: 24px;
    padding-left: 10px;
}
.vall_now_div {
    width: 100vw;
    height: auto;
    text-align: center;
    margin: 150px 0px 0px;
}
.vall_now_div p {
    font-family: 'RFDewiExpanded', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 70px;
}
.price_div {
    width: 100vw;
    height: auto;
    margin-top: 180px;
    text-align: center;
}
.price_div .section {
    width: 411px;
    height: 654px;
    display: inline-block;
    vertical-align: top;
    background: rgb(250, 250, 250);
    margin: 70px 16px;
}
.price_plan_title {
    font-family: 'RFDewiExpanded', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin: 16px 0px 60px;
}
.price_plan_content {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0px 0px 60px;
}
.price_plan_li {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}